* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}
body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/funcitons';

@import './components/create_button';
@import './components/router_animate';

@import './layouts/header';
@import './layouts/sidebar';
@import './layouts/loading';
@import './layouts/footer';

@import './pages/categories';
@import './pages/blogs';
